.featured {
    width: 100%;
    padding: 8rem 0;
    background-color: var(--background);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
}

.featured .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.featured .icon {
    font-size: 36px;
    margin: auto;
    padding-top: 6px;
    justify-content: center;
    align-items: center;
}


.featured .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
    line-height: 40px;
}

.featured .left {
    margin: 1.5rem 0;
}



.featured .left .btn {
    align-self: flex-start;
}

.featured .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.featured .right .card {
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    margin: .4rem;
    width: 170px;
    height: 170px;
    border-radius: 24px;
    border: 1px solid #d3d3d3;
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: .5s;
    
}

.featured .right .card:hover {
    box-shadow: var(--hover-box-shadow)
}

.featured .card .top {
    display: flex;
    flex-direction: column;

}

.featured .right img {
    width: 50px;
    margin: auto;
    padding: .2rem 0;
}

.green {
    color: #118c4f
}
.red {
    color: crimson
}

@media  screen and (max-width: 940px) {
    .featured .container {
        grid-template-columns: 1fr;
        align-self: center;
    }
}

@media screen and (max-width: 478) {
    .featured .container .right .card {
        width: 100%;
    }
}