* {
  padding: 0;
  margin: 0;
}

:root {
  --primary: #0a192f;
  --secondary: #64ffda;
  --text: #8892b0;
  --background: #000;
}


[data-theme='dark'] {
  --primary: #191919;
  --secondary: #8e05c2;

}

a {
  text-decoration: none;
}

.App {
  
  background-color: rgb(13, 18, 19);
  transition: 1s;
  z-index: -2;
}